# WEB APP
ALLOW_ORIGIN=

# Access token secret for backend
ACCESS_TOKEN_SECRET=

# TELEGRAM BOT
API_ID=
API_HASH=
SESSION_NAME=

# lists, separator - comma, first common id, second -100<id>
GROUPS=
CHAT_ID=

NGINX_BIND_IP=