# WEB APP
ALLOW_ORIGIN=
APP_HOST=:2330

# Access token secret for backend
ACCESS_TOKEN_SECRET=

# TELEGRAM BOT
API_ID=
API_HASH=
SESSION_NAME=

# Two formats for group IDs to support both .env files
GROUPS=
CHAT_ID=

NGINX_BIND_IP=