# POSTGRESQL
PG_HOST=127.0.0.1
PG_USER=example_user
PG_PASSWORD=example_password
PG_DATABASE=example_db
PG_PORT=5432
PG_SSLMODE=disable
PG_TIMEZONE=Europe/Moscow

# WEB APP
ALLOW_ORIGIN=
APP_HOST=:2330

ACCESS_TOKEN_SECRET=
CHAT_ID=