# WEB APP
ALLOW_ORIGIN=

# Access token secret for backend
ACCESS_TOKEN_SECRET=HiTiver

# TELEGRAM BOT
API_ID=
API_HASH=
SESSION_NAME=

# Two formats for group IDs to support both .env files
GROUPS=
CHAT_ID=